.App {
  text-align: center;
} 
 .header{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(90, 116, 148, 0.4);
 }
 .body{
  min-height: 500px;
  height:100%;
  width: 100%;
 }
 .footer{
  height: 25px;
  vertical-align: bottom;
  width: 100%;
  text-align: center;
  background-color: #F0F0F0;
 }