.input-expirience__date{
    display: inline-block;
    width: 47%;
    margin-right: 0px;
    margin-left: 0px;
}
.decorate{
    display: inline-block;
    height: 40px;
    width: 6%;
    margin: 0px;
}

.input-expirience__remove-button{
    width: 250px;
    margin-bottom: 20px;
}


.input-expirience{
    border-bottom: 1px solid #CCCCCC;
    margin-top: 10px;
    margin-bottom: 10px;
}